@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.grid-container {
  font-weight: 800;
  background-color: #323233;
  min-height: 100vh;
  min-width: 400px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.grid-item-logo {
  color: lightseagreen;
  padding-left: 1%;
}

.grid-item-name {
  padding-top: 3%;
  padding-left: 10%;
}

.grid-item-intro {
  display: grid;
  padding-left: 30%;
  padding-top: 3%;

}

.grid-item-skills-logo{
  padding-left: 15%;

  img {
    padding-right: 3%; 
  }
}

.link {
  color: #FFF;
  text-decoration: none;
}

.link:hover {
  color: gray;
  text-decoration: none;
}