.ts-logo {
  padding-right: 100px;
}

.terraform-logo {
  padding-bottom: 40px;
}

.ruby-logo {
  padding-top:  10px;
  padding-left:  100px;
}

.js-logo {
  padding-bottom:  50px;
}

.aws-logo {
  padding-left:  100px;
  padding-right:  10px;
  padding-bottom:  50px;
}

.react-logo{
  padding-right: 30px;
  padding-top: 60px;
}
.grid-container {
  font-family: 'American Typewriter', serif;
  background-color: #323233;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.grid-item-logo {
  padding-left: 60px;
  padding-top: 40px;
  color: lightseagreen;
}

.grid-item-line {
  grid-column-start: 1 ;
  grid-column-end: 3 ;
  color: lightseagreen;
  grid-row-start: 2;
}

.grid-item-name {
  font-size: 30px;
  padding-top: 40px;
}

.grid-item-list {
  font-size: 30px;
  padding-left: 60px;
  padding-top: 40px;
}

.grid-item-text {
  font-size: 30px;
  padding-top: 60px;
}
